.container {

}

.container main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
    width: 80%;
    min-height: calc(100vh - 60px);
    margin: 0 auto;
}

.cartEnd{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    height: 100px;
    width: 100%;
}

.endButton {
    background-color: #CCCCCC;
    color: #212121;
    font-weight: bold;
    border: none;
    width: 200px;
    height: 50px;
}

.finalPrice{
    margin-right: 20px;
    color: #CCCCCC;
}