.container {
  background-color: #292929;
}

.container main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(auto, 350px);
  padding: 50px;
  gap: 50px 0;
  justify-items: center;
}

@media (max-width: 1200px) {
  .container main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .container main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .container main {
    grid-template-columns: repeat(1, 1fr);
  }
}