.container {
    background-color: #212121;
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 300ms;
}

.container:hover {
    transform: scale(1.02);
}

.container img {
    width: 100%;
}

.description {
    margin: 20px 0;
}

.description h3,
.description p {
    text-align: center;
    color: #CCCCCC;
    margin: 0;
}

.description h3 {
    margin-bottom: 10px;
}