.container {
    background-color: #212121;
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 300ms;
}

.container:hover {
    transform: scale(1.02);
}

.image_container {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container img {
    width: 100%;
    height: 100%;
}

.description {
    margin: 20px 0;
}

.description h3,
.description p {
    text-align: center;
    color: #CCCCCC;
    margin: 0;
}

.over{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    opacity: 0;
    transition: opacity 200ms;
    width: 100%;
    height: 100%;
    background-color:#212121CC;

}

.container:hover .over{
    opacity: 1;
}

.buybtn{
    padding: 1rem 3rem;

    background-color:rgb(202, 202, 202);
    border: none;
    color: black;
    border-radius: 10px;
    font-weight: 500;
}